body
{
  background-color: rgb(245,245,245);
  width:900px;
  margin:auto;
  
}

header
{
  background-color: rgb(50,50,50);
  position:absolute; 
  width:900px;
  margin: auto;
}
.Lienbarre:hover
{
    color: rgb(41,159,206);
}

.Lienbarre:focus,.Lienbarre:active
{
    color: rgb(41,159,206);
    text-decoration: underline;
}

.barrenav
{
  position: absolute;
}

nav 
{ width:900px;
  margin:auto;
  position:relative;
  left:20px;
}
nav ul
{
    list-style-type: none;
    display: flex;
    
}

nav li
{
    margin-right: 35px;
   
}

nav a
{
    font-size: 1.3em;
    color: #FFFFFF;
    padding-bottom: 3px;
    text-decoration: none;
    
}

nav a:hover
{
  
    border-bottom: 3px;
    
}


#form
{
 
  margin-left:350px;
  padding-top:80px;
}
bodyy
{
  display:flex;
}
iframe
{
 
  padding-top:100px;
  margin-left:400px;
}

/*body*/

#paccueil
{
  padding-top:100px;
  color: rgb(0,0,0);
}
/*footer*/

footer
{ display:flex;
  padding-top:40px;
}

footer h1
{
  font-size: 1.1em;
}
footer p
{
 position: relative;

}

#formulaire
{ 
  position: relative;
  left: 150px;
}





